body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background: #121212;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}
